body {
  font-family: "Roboto", sans-serif;
  font-family: "Ubuntu", sans-serif;
  background: linear-gradient(45deg, #ffd195, #ffb283);
}
p {
  width: 560px;
  margin: auto;
}

div {
  width: 600px;
  margin: auto;
}

ul {
  list-style-type: none;
  left: -1060px;
}

div.hlight {
  color: red;
}
.stars i {
  color: #e6e6e6;
  font-size: 15px;
  cursor: pointer;
  transition: color 0.2s ease;
}
.stars i.active {
  color: #ff9c1a;
}
