<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Comments</title>
        <script defer src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script defer src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
        <script defer src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" crossorigin="anonymous"></script>
        <script defer src="{{url_for('static', filename='js/view_comments.js')}}"></script>
    </head>
</html>